*.obp
*.d
*.o
*.a
*.so
*.dll
*.exe
*.pst
*.tmp
*.out
*.log
*.cr
*.crlf
*.lf
alspro
alspro_b
alsdev
alsdev_b
*.tgz
core/win32/alsdir
core/win32/lib
core/unix/*/alsdir
core/unix/*/lib
foreign_sdk/*/ALS_Prolog_Foreign_SDK
