*~
*.obp
*.psl
*.d
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.pst
*.tmp
*.out
*.log
*.cr
*.crlf
*.lf
foonew
alspro
core/unix/*/alsdev
core/unix/*/app_image*
alspro_b
alsdev_b
*.tgz
*.zip
core/win32/alsdir
core/unix/*/alsdir
core/unix/*/examples
unix/darwin
unix/linux
unix/cygwin
win32/win32
foreign_sdk/*/ALS_Prolog_Foreign_SDK
docs/Gemfile.lock
_site
_local_site
.jekyll-metadata
.sass-cache/
.jekyll-cache/
.jekyll-metadatabuild-xcode
xcuserdata/
*.swp
