#include <windows.h>

#include "version.h"

1 VERSIONINFO
 FILEVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,0
 PRODUCTVERSION 0,0,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS VS_FF_PRERELEASE
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Applied Logic Systems, Inc.\0"
            VALUE "FileDescription", "getDirectory Library\0"
            VALUE "FileVersion", VERSION_STRING "\0"
            VALUE "InternalName", "getDirectory\0"
            VALUE "LegalCopyright", "Copyright \251 Applied Logic Systems, Inc. 1998\0"
            VALUE "ProductName", "getDirectory\0"
            VALUE "ProductVersion", VERSION_STRING "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
