#packages {
        position: fixed;
        top: 0;
        left: 0;
        height: 8em;
        width: 13em;
}

#toc {
        position: fixed;
        top: 8em;
        left: 0;
        bottom: 0;
        width: 14em;
}

#content {
        position: fixed;
        top: 0;
        left: 14em;
        bottom: 0;
        right: 0;
}

iframe {
        width: 100%;
        height: 100%;
        background-color:ivory;
}

