#include "windows.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

#define ALSPROICON            400

ALSPROICON                 ICON    DISCARDABLE     "ALSPRO.ICO"
