---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// Use grey background for code
pre, code, .highlighter-rouge .highlight { background-color: #f8f8f8; }

// Add logo to masthead
.site-title::before {
	content: url("/alsprolog-logo.png");
	display: inline-block;
	position: relative;
	width: 37px;
	top: 5px;
}

// Avoid wrapping of email address
.contact-list .u-email { font-size: 95%; }

.page-content { 
	padding:20px;
}
.refpage-content { 
	padding:20px;
}


.post-content { 
	padding:20px;
}

.outerbox { 
	border:2px solid white;
	display: flex;
}


.sidebar {
	border:2px solid black;
	width: 20%;
}

.corecontent {
	border:2px solid black;
	width: 80%;
	padding-left:20px;
}
.refcorecontent {
	border:1px solid black;
	width: 80%;
	padding-left:10px;
}

#mysearch {
	width:100%;
	font-size:18px;
	border: 1px solid red;
	background-color:pink;
}

.cmn_pack {
	border:1px solid black;
	margin-top:2px;
	width:90%;
	background-color:white;
}

.active_pack {
	background-color:LightBlue;
}
