name: 32-bit Build & Test
on:
  push:
  schedule:
    - cron: '8 8 8 * *'

jobs:

  Linux:
    runs-on: ubuntu-latest
    env:
      BUNDLE_PATH:  ~/.gem
    steps:
     - uses: actions/checkout@v3
     - run: sudo gem install bundler -v 2.4.22
     - run: sudo dpkg --add-architecture i386 && sudo apt-get update && sudo apt-get install gcc-multilib libcurl4-openssl-dev:i386 tk-dev:i386
     - run: CFLAGS=-m32 ./cibuild

  Windows:
    runs-on: windows-2022
    steps:
     - uses: actions/checkout@v3
     - uses: ruby/setup-ruby@v1
       with:
         ruby-version: '3'
     - uses: msys2/setup-msys2@v2
       with:
          msystem: MINGW32
          install: git mingw-w64-i686-gcc base-devel mingw-w64-i686-tk mingw-w64-i686-curl zip procps
     - shell: msys2 {0}
       run: ./cibuild
